<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/userLayout}"
>
<th:block layout:fragment="content">
    <section class="h-75 ">

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="w-50 h-100">
                <div class="title-signup">
                    <span class="pl-4"><h2>회원가입</h2></span>
                </div>
                <div class="w-100 bg-default d-flex justify-content-center align-items-center h-85">
                    <div class="w-75 h-85" >
                        <form id="signUpForm" method="post" action="/user/sign-up" class="h-100">
                            <div class="h-17">
                                <div><span>아이디</span></div>
                                <div class="h-50">
                                    <div class="d-flex h-85">
                                        <input type="text" name="loginId" id="loginId" placeholder="아이디를 입력하세요" class="col-7 form-control h-100">
                                        <button type="button" name="idDuplBtn" id="idDuplBtn" class="button form-control text-dark bg-white col-2 ml-3 " >중복 확인</button>

                                    </div>
                                    <div><span class="text-danger  d-none " id="idDuplText">이미 사용중인 아이디 입니다.</span></div>
                                    <div><span class="text-danger d-none" id="idTooShortText">아이디를 4자이상 입력해주세요.</span></div>
                                    <div><span class="text-success d-none" id="idAvailableText">사용 가능한 아이디 입니다.</span></div>
                                </div>


                            </div>
                            <div class="my-1 h-17">
                                <div><span>* 비밀번호</span></div>
                                <div class="h-75">
                                    <input type="text" name="password" id="password" class="col-7 form-control h-60">
                                </div>
                            </div>
                            <div class="my-1 h-17">

                                    <div><span>* 비밀번호 확인</span></div>
                                    <div class="h-75">
                                        <input type="text" name="confirmPassword" id="confirmPassword" class="col-7 form-control h-60">
                                    </div>

                            </div>
                            <div class="my-1 h-17">

                                    <div><span>이름</span></div>
                                    <div class="h-75">
                                        <input type="text" name="name" id="name" class="col-7 form-control h-60">
                                    </div>

                            </div>
                            <div class="my-1 h-17">

                                    <div><span>이메일 주소</span></div>
                                    <div class="h-75">
                                        <input type="text" name="email" id="email" class="col-7 form-control h-60">
                                    </div>

                            </div>
                            <div class="d-flex justify-content-center">
                                <button name="submitBtn" id= "submitBtn" class="form-control bg-white col-3 text-dark ">회원가입</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>



        </div>
    </section>
    <script>
    $(function(){
        $("#idDuplBtn").on("click",function(){
            $("#idDuplText").addClass("d-none");
            $("#idTooShortText").addClass("d-none");
            $("#idAvailableText").addClass("d-none");

            let loginId = $("#loginId").val().trim();
            if(loginId.length < 4){
                $("#idTooShortText").removeClass("d-none");
                return;
            }
            $.ajax({
                url:"/user/is-id-duplicated"
                ,data:{"loginId":loginId}
                ,success:function(data){
                    if(data.code == 200){
                        if(data.is_id_duplicated){
                            $("#idDuplText").removeClass("d-none");
                            
                        }else{
                            $("#idAvailableText").removeClass("d-none");
                        }
                    }else{
                        alert(data.error_message);
                    }

                }
                ,error:function(e){
                    alert("중복확인에 실패했습니다");
                }

            });

        });
        // localhost:8080/user/sign-up 로 이동
        $("#signUpForm").on("submit",function(e){
            e.preventDefault();
            let loginId = $("#loginId").val().trim();
            let password = $("#password").val().trim();
            let confirmPassword = $("#confirmPassword").val().trim();
            let name = $("#name").val().trim();
            let email = $("#email").val().trim();

            if(!loginId){
                alert("아이디를 입력하세요");
                return false;
            }
            if( $("#idAvailableText").hasClass("d-none")){
                alert("id를 다시 확인해주세요");
                return false;
            }
            if(password != confirmPassword || !password){
                alert("비밀번호를 다시 확인하세요");
                return false;
            }
            if(!name){
                alert("이름을 입력하세요");
                return false;
               
            }
            if(!email){
                alert("이메일을 입력하세요");
                return false;
              
            }

            let url = $(this).attr("action");
            console.log(url);

            let params = $(this).serialize();
            console.log(params);

            $.post(url,params)
            .done(function(data){
                if(data.code == 200){
                    alert("가입을 환영합니다. 로그인을 해주세요");
                    location.href = "/user/sign-in-view"
                }

            })
        })


    });


    </script>


</th:block>
</html>